/*general*/


/* login */

#signinTitle {
    background-color: #007bff;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

#signinTitleFont {
    font-size: 60px;
    border: 3px solid #004da0;
    background-color: #004da0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 4);
}

.about {
    background-color: #007bff;
    color: white;
}

.csborder {
    border: 3px solid #004da0;
    background-color: #004da0;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 4);
}

.about-text {
    margin-top: 30px;
}

.signIn {
    background-color: #007bff;
}

#googleSign {
    color: white;
    cursor: pointer;
}


/* #googleSign {
    color: white;
    background-color: #004da0;
    box-shadow: 0px 0px;
} */

img {
    width: 100%;
    height: auto;
}


/* Dashboard */

.stickerFont {
    color: white;
}

.loadSticker {
    display: none;
}

#stickerView {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 4);
}

#featuredList {
    margin-top: 60px;
    background-color: #007bff;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-right: 60px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 4);
    color: white;
}

.list-group-item {
    background-color: #007bff;
    color: white;
    border: 1px solid white;
}

#stickerList {
    margin-bottom: 10px;
}